{% extends 'layouts/base.html' %}
{% import 'macros_.html' as mymacro %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{ book.image_url }}"
                                class="img-fluid rounded" alt="{{ book.title }}">
                        </div>
                        <div class="col-md-7">
                            <h1 class="card-title">{{ book.title }} BOOK</h1>
                            <div class="card-text">
                                <p><strong>Price:</strong> ${{ book.price }}</p>
                                <p><strong>No. of Pages:</strong> {{ book.no_of_pages }}</p>
                                <p><strong>Created_at:</strong> {{ book.created_at }}</p>
                                <p><strong>Updated_at:</strong> {{ book.updated_at }}</p>
                            </div>

                           <h4 style="color:blue;"> Books in this Category : </h4>

          {{mymacro.listobjects(book.category_name.books)}}

                            <hr>
                            <div class="text-center">
                                <a href="#" class="btn btn-primary btn-lg">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}