{% extends 'layouts/base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4" style="color: brown; font-size: 28px; font-weight: bold; text-transform: uppercase;">
        Books Home</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for book in books %}
        <div class="col">
            <div class="card shadow-lg"> <!-- Added 'shadow-lg' class for larger shadow -->
                <img src="{{ book.image_url }}" class="card-img-top"
                    alt="{{ book.title }}" style="max-height: 200px;">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 16px;">{{ book.title }}</h5>
                    <p class="card-text">
    <span class="text-brown fw-bold"  >Book Category:</span>
    <span style="color:red " >{{ book.category_name }}</span>
</p>


                </div>
                <div class="card-footer">
                    <a  href="{{book.show_url}}"  class="btn btn-primary btn-sm">Show</a>
                    <form action="{{ url_for('books.delete_book', id=book.id) }}" method="post" class="d-inline">
                        <input type="hidden" name="_method" value="DELETE">
                        <button   type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                   <a href="{{ url_for('books.book_update', id=book.id) }}" class="btn btn-success btn-sm">Update</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}